<header class="page-header">
<h1>About</h1>
</header>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ita ne hoc quidem modo paria peccata sunt. Idemne, quod iucunde? Sed vobis voluptatum perceptarum recordatio vitam beatam facit, et quidem corpore perceptarum.</p>
